@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon%EF%B9%967a978330ff7fdc656926f8f882f4249d.ttf") format("truetype"),
    url("../fonts/flaticon%EF%B9%967a978330ff7fdc656926f8f882f4249d.woff") format("woff"),
    url("../fonts/flaticon%EF%B9%967a978330ff7fdc656926f8f882f4249d.woff2") format("woff2"),
    url("../fonts/flaticon%EF%B9%967a978330ff7fdc656926f8f882f4249d.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon%EF%B9%967a978330ff7fdc656926f8f882f4249d.svg#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i[class*="flaticon-"] {
    display: block;
    line-height: 0;
}

.flaticon-tape-measure:before {
    content: "\f101";
}
.flaticon-abs:before {
    content: "\f102";
}
.flaticon-weight:before {
    content: "\f103";
}
.flaticon-test:before {
    content: "\f104";
}
.flaticon-layout:before {
    content: "\f105";
}
.flaticon-search:before {
    content: "\f106";
}
.flaticon-shopping-cart:before {
    content: "\f107";
}
.flaticon-shopping-cart-1:before {
    content: "\f108";
}
.flaticon-left-arrow:before {
    content: "\f109";
}
.flaticon-right-arrow:before {
    content: "\f10a";
}
